@page
@model GarageManagement.BackOffice.Pages.Admin.Vehicles.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Voulez-vous vraiment supprimer ?</h3>
<div>
    <h4>Véhicule</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Immatriculation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Immatriculation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.Model.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Vehicle.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Vehicle.User.Email)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Vehicle.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Retour</a>
    </form>
</div>
