@page
@model GarageManagement.BackOffice.Pages.Admin.Reparations.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Reparation</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.CreatedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.CreatedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.FinishedAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.FinishedAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.StartAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.StartAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.EndAt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.EndAt)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Reparation.Vehicle)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Reparation.Vehicle.Immatriculation)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Reparation.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
