@page
@model GarageManagement.BackOffice.Pages.Admin.ReparationTypes.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Détails du type de réparation</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReparationType.Label)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReparationType.Label)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ReparationType.DefaultCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ReparationType.DefaultCost)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.ReparationType.Id">Modifier</a> |
    <a asp-page="./Index">Retour</a>
</div>
