@model GarageManagement.FrontOffice.Models.VehicleViewModel

@{
    ViewData["Title"] = "Véhicules";
}

<h2>Liste des véhicules</h2>

<table class="table">
    <thead>
        <tr>
            <th>Immatriculation</th>
            <th>Détail</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var vehicle in Model.Vehicles)
        {
            <tr>
                <td>@vehicle.Immatriculation</td>
                <td>@vehicle.Model.Brand.Label @vehicle.Model.Label</td>
            </tr>
        }
    </tbody>
</table>

<h3>Ajouter un nouveau véhicule</h3>
<form method="post">
    <div class="form-group">
        <label for="Immatriculation">Immatriculation</label>
        <input type="text" class="form-control" id="Immatriculation" name="NewVehicle.Immatriculation" required />
    </div>
    <div class="form-group">
        <label for="Model">Modèle</label>
        <select class="form-control" id="Model" name="NewVehicle.ModelId" required>
            @foreach (var vehicleModel in Model.Models)
            {
                <option value="@vehicleModel.Id">@vehicleModel.Label</option>
            }
        </select>

    </div>
    <br />
    <button type="submit" class="btn btn-primary">Ajouter</button>
</form>